@page "/"

<h1>Settings</h1>
Configure your local parameters.

<div class="col-md-6">

        <h4>Enable Connectivity</h4>
        <RadzenSelectBar @bind-Value="value" TValue="int" Change="@((args) => Change(args, "SelectBar with single selection"))" Style="margin-bottom: 20px;">
            <Items>
                <RadzenSelectBarItem Text="SIGFOX v.1" Value="1"/>
                <RadzenSelectBarItem Text="SIGFOX v.2" Value="2" />
                <RadzenSelectBarItem Text="WIFI MODE" Value="3"/>
            </Items>
        </RadzenSelectBar>

        <h4>Debug LEDs</h4>
        <RadzenSelectBar @bind-Value="value" TValue="int" Change="@((args) => Change(args, "SelectBar with single selection"))" Style="margin-bottom: 20px;">
            <Items>
                <RadzenSelectBarItem Text="ON" Value="1" />
                <RadzenSelectBarItem Text="OFF" Value="2" />
            </Items>
        </RadzenSelectBar>

        <h4>Diagnostic Mode</h4>
        <RadzenSelectBar @bind-Value="value" TValue="int" Change="@((args) => Change(args, "SelectBar with single selection"))" Style="margin-bottom: 20px;">
            <Items>
                <RadzenSelectBarItem Text="ON" Value="1" />
                <RadzenSelectBarItem Text="OFF" Value="2" />
            </Items>
        </RadzenSelectBar>

        <h4>Air Temperature | Humidity sensor</h4>
        <RadzenSelectBar @bind-Value="value" TValue="int" Change="@((args) => Change(args, "SelectBar with single selection"))" Style="margin-bottom: 20px;">
            <Items>
                <RadzenSelectBarItem Text="ON" Value="1" />
                <RadzenSelectBarItem Text="OFF" Value="2" />
            </Items>
        </RadzenSelectBar>
        
        <br/>
        <RadzenButton Click="@((args) => Click(args, "Button with text"))" Text="Save Settings" style="width:100%; margin:40px"/>
</div>

<div class="col-md-6">
    <h4>Set Internal Clock</h4>
    Current Clock : @dateTimeValue

    <RadzenDatePicker TValue="DateTime?" ShowTime="true" ShowSeconds="true" HoursStep="1.5" MinutesStep="5" SecondsStep="10" Change="@(args => Change(args, "DatePicker with time", "MM/dd/yyyy HH:mm"))" DateFormat="MM/dd/yyyy HH:mm" />

    <RadzenButton Click="@((args) => Click(args, "Button with text"))" Text="Set Internal Clock" style="width:100%; margin:40px"/>
</div>

@code {
    int value = 0;

    DateTime dateTimeValue = DateTime.Now;
    IEnumerable<int> values = new int[] { 1, 2 };

    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    void Change(object value, string name)
    {
        var str = value is IEnumerable<int> ? string.Join(", ", (IEnumerable<int>)value) : value;
        events.Add(DateTime.Now, $"{name} value changed to {str}");
        StateHasChanged();
    }

    void Click(MouseEventArgs args, string buttonName)
    {
        events.Add(DateTime.Now, $"{buttonName} clicked");
        StateHasChanged();
    }

    void Change(DateTime? value, string name, string format)
    {
        events.Add(DateTime.Now, $"{name} value changed to {value?.ToString(format)}");
        StateHasChanged();
    }

}